name: Mobile Wallet Application ci-cd github workflow

on: [push]

jobs:
  builds:
    runs-on: ubuntu-latest
    env: 
      OPENEXCHANGERATEAPI: d870a9424ea744069b50cebbd3ebcf84
      DJANGO_SETTINGS_MODULE: mobile_wallet.config.settings

    services:
      postgres:
        image: postgres:10.8
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: github_actions
        ports:
          - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    strategy:
      matrix:
        python-version: [3.7, 3.8]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      
      - name: psycopg2 prerequisites
        run: sudo apt-get install libpq-dev

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest pytest-cov tox

          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      
      - name: Run migrations
        run: python manage.py migrate

      - name: Lint with flake8
        run: |
          flake8 .  --count --show-source --statistics 
          flake8 .  --exit-zero --max-complexity=15 --max-line-length=99 --statistics

      - name: Test with pytest
        run: |
          py.test --cov=mobile_wallet

      - name: Run coverage Report
        run: |
          coverage html
          coverage report --fail-under=100 --show-missing  
